{% extends "layout.html" %} {% block content %}

<form
  id="search"
  class="mb-4"
  hx-trigger="submit"
  hx-target="#titles"
  hx-get="/"
  hx-replace-url="true"
>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 my-4">
    <div class="card card-compact bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Release date</h2>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">From what year?</span>
          </div>
          <input
            name="min_premiered"
            type="number"
            class="input input-bordered w-full"
            value="{{ form_data.min_premiered.unwrap_or(1970) }}"
            min="1900"
          />
        </label>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Until what year?</span>
          </div>
          <input
            name="max_premiered"
            type="number"
            class="input input-bordered w-full"
          />
        </label>
      </div>
    </div>

    <div class="card card-compact bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Score</h2>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">At least</span>
          </div>
          <input
            name="min_score"
            type="number"
            class="input input-bordered w-full"
            value="{{ form_data.min_score.unwrap_or(7.0) }}"
            min="0"
            max="10"
          />
        </label>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">At most</span>
          </div>
          <input
            name="max_score"
            type="number"
            class="input input-bordered w-full"
            min="0"
            max="10"
          />
        </label>
      </div>
    </div>

    <div class="card card-compact bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Amount of votes</h2>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">At least</span>
          </div>
          <input
            name="min_votes"
            type="number"
            class="input input-bordered w-full"
            value="{{ form_data.min_votes.unwrap_or(10000) }}"
            min="0"
          />
        </label>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">At most</span>
          </div>
          <input
            name="max_votes"
            type="number"
            class="input input-bordered w-full"
          />
        </label>
      </div>
    </div>

    <div class="card card-compact bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Runtime</h2>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">At least</span>
          </div>
          <input
            name="min_runtime"
            type="number"
            class="input input-bordered w-full"
            min="0"
          />
        </label>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">At most</span>
          </div>
          <input
            name="max_runtime"
            type="number"
            class="input input-bordered w-full"
          />
        </label>
      </div>
    </div>
  </div>

  <div class="card card-compact bg-base-100 shadow-xl my-4">
    <div class="card-body">
      <h2 class="card-title">Genres</h2>

      <div class="grid grid-cols-4 gap-2">
        {% for (genre, selected) in genres %}
        <label>
          <input
            name="genres"
            type="checkbox"
            value="{{genre}}"
            {%
            if
            selected
            %}checked{%
            endif
            %}
          />
          {{genre}}
        </label>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="join w-full my-4">
    <input
      name="title"
      type="text"
      placeholder="Search movie title"
      class="join-item w-full input input-bordered"
    />
    <button type="submit" form="search" class="btn btn-primary join-item">
      Search
    </button>
  </div>
</form>

<div class="grid gap-4 overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th class="text-right">Runtime</th>
        <th class="text-right">Rating</th>
        <th class="text-right"># Votes</th>
      </tr>
    </thead>
    <tbody id="titles">
      {% for title in titles %} {% let is_last = loop.last %} {% include
      "title-row.html" %} {% endfor %}
    </tbody>
  </table>
</div>

<div id="pagination" class="flex justify-center mt-4">
  <div class="buttons">
    <div class="join">
      {% if let Some(prev_page) = form_data.prev_page() %}
      <a href="/?{{ prev_page }}" class="join-item btn">«</a>
      {% endif %}
      <button class="join-item btn">
        Page {{form_data.page|display_some}}
      </button>
      <a href="/?{{form_data.next_page()}}" class="join-item btn">»</a>
    </div>
  </div>

  <span class="loading loading-spinner loading-lg"></span>
</div>
{% endblock %}
